<?php

declare(strict_types=1);

return [
    'authentication' => [
        'redirect' => '/app-login',
        'pdo'      => [
            'dsn'             => 'mysql:host=1.1.1.1;port=3306;dbname=mydbname',
            'username'        => 'myuser',
            'password'        => 'mypassword',
            'table'           => 'tajo1_user',
            'field'           => [
                'identity' => 'user_name',
                'password' => 'user_password',
            ],
            'sql_get_roles'   => 'SELECT user_role FROM tajo1_user WHERE user_name = :identity',
            'sql_get_details' => 'SELECT user_email FROM tajo1_user WHERE user_name = :identity',
        ],
    ],
];
